./temp/*
temp/
*test*
*.hoomdxml
*ipynb*
*par*.py
*.cprof
*.bak
*.pyc
*.swp
*.swo
*.inp
*.gbw
*.out
*.tmp
*.csv
*.dcd
*.png
*.pdf
*.log
*.sh
*.tcl
*.xyz
*.POSCAR
*.xml
OLD*
*#*
*~
*.pickle
relaxedP3HT.xml
outputFiles/*
*store*
*Store*
storage/*
input*/*
profiling*
